


.quotes {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

#transparency-quote{
    color: #12d5b8;
}

#transparency-right-floater{
    position: absolute;
    padding-left:10px;
    right:0;
    padding-top:2rem;
}


@media (max-width:993px){
    .hide-on-lg {
        display:none;
    }
}





#people-behind-bg{
    background-color: #e7fbf8;
}

#circ, #circ-pic {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}


#circ {
    left:-5%;
}

#circ-pic{
    width:auto;
}


@media (max-width:993px){
    #circ{

        position: relative;
        top: 0;
        width:25%;
        height:auto;
        left:5%;
    }

    #circ-pic{
        position:initial;
        top: initial;
        transform:initial;
        width:100%;
    }
    #exec-desc{
        left: 5%;
        padding-left: 10px;
        margin-left: 0px;
    }
}


.blue-ibinex{
    color:#2770f6;
}

.blue-ibinex-bg{
    background-color:#2770f6;
}

#media-coverage-floater{
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: none;
}

#media-coverage-images{
    width: 100%;
}

@media all and (max-width:1023px){
    #media-coverage-floater{
        order: 2;
    }

    #media-coverage-images{
        order: 1;
    }
}

@media all and (min-width:992px) and (max-width: 1023px){
    #media-coverage-images{
        margin: 0 auto !important;
    }

    #media-coverage-images>h2{
        text-align: center;
    }

}


div.advisory-board{
    background-color: #f2f2f2;
    padding: 0;
}

ul.advisory-board-members-list{
    font-family: 'Montserrat';
    font-size: 18px;
    color: #1a1a1a;
}

div.advisory-board-members-list-item-name,
div.advisory-board-members-list-item-desc{
    padding-left: 1em;
    padding-right: 1em;
    color: #1a1a1a;
}

@media only screen and (min-width: 1024px) {
    #media-coverage-floater {
        position: relative;
        transform: translateY(-18%);
        padding: 7% 5% 5% 21%;
        width: 46%;
        max-width: 100%;
        flex: none;
    }

    #media-coverage-images {
        margin-left: 100px !important;
        margin-top: 100px !important;
    }

    #people-behind-bg {
        padding-bottom: 10% !important;
    }
}

@media only screen and (min-width: 1920px) {

    #media-coverage-floater {
        height: 900px;
        width: 857px;
        max-width: 100%;
        flex: none;
        transform: translateY(-18%);
        padding: 200px 55px 210px 433px;
    }

    #people-behind-bg {
        padding-bottom: 180px !important;
    }

    #thirdfold-p1 {
        margin-bottom: 40px;
    }

    #media-coverage-images {
        margin-left: 100px !important;
        margin-top: 100px !important;
    }
}
.advisory-board-members-list li img{
    width:100%;
}

.advisory-board-members-list li{
    padding:0;
}

button.linked-in-btn {

    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;

}

button.linked-in-btn img {
    margin-right: 0.5em;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    transform: translateY(-350%);
}