#main-body {
    overflow-x: hidden;
}

#transparency {
    margin: 1em 1em;
}

#transparency-quote{
    color: #12d5b8;
}

#transparency-right-floater{
    position: absolute;
    padding-left:10px;
    padding-top:2rem;

}

.quotes {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.media-quotes {
    font-size: 30px;
    line-height: 1.4em;
}


#people-behind-bg{
background-color: #e7fbf8;
}

#exec-inner-right{
    white-space: nowrap;
    text-align: center;
}
#exec-inner-left{
    margin-left: 2em;
}

#circ{
    position: absolute;
    top: 50%;
    transform:translateY(-75%);
}


#circ {
    left:-5%;
}

.exec-helper {
    display: inline-block;
    vertical-align: middle;
}

#circ-pic{
    vertical-align: middle;
    width:auto;
}

/*.media-quotes {*/
    /*width: 15%;*/
/*}*/


.blue-ibinex{
    color:#2770f6;
}

.blue-ibinex-bg{
    background-color:#2770f6;
}

#media-coverage-floater{
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: none;
}

#media-coverage-images{
    width: 100%;
}



#advisory-board{
    background-color: #f2f2f2;
    padding: 0;
    text-align: center;
    margin: -1.5em auto 0;
    font-size: 18px;
    color: #1A1A1A;
    width: 100%;
}

#board-list {
    padding: 1em 14.5% 0 16.5%;
}

#board-box {
    position: relative;
}
.board-members{
    width: 20.9%;
    margin: 0 1% 7% 0;
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    color: rgb(26,26,26);
}
.board-members span{
    display: block;
}
.board-img {
    margin: 0 auto;
    height:100%;
    width: 100%;
    padding-bottom: 10%;
}
.board-name {
    font-weight: 800;
    font-size: 1.7em;
    padding-top: 1em;
}
.board-rank {
    letter-spacing: 0;
    line-height: 1.1em;
    font-size: 1.5em;
}
.slick-members {
    margin: 0 0 1% 0;
    outline: none;
}
.slick-members .board-img {
    width: 100%;
}

.linked-in-btn {
    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    font-size: 0.9em;
    padding-right: 2em;
}

.linked-in-btn img {
    margin-right: 0.5em;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    transform: translateY(-350%);
}

@media (max-width: 450px){
    div#media-album{
        margin: 0 auto;
        display: inline;
    }
    #media-album img.media-img{
        max-width: initial;
        width: 49%;
        margin-bottom: 0.9em;
    }
    .media-img:nth-last-child(-n+4){
        display: none;
    }
}

@media (max-width:991px){

    body #fullscreen-hero #hero-content {
        padding: 7.5em 0 8em 0;
    }

    body #fullscreen-hero #hero-content p.description {
        line-height: 1.39em;
        padding-top: 1em;
    }

    #transparency {
        margin: 0 0 -10px 0;
        padding-top: 2.4em;
    }
    #transparency-left p {
        line-height: 1.7em;
        margin-bottom: 2.1em;
    }
    #transparency-right-floater {
        padding-left: 0;
        transform: translateX(-10px);
    }

    div#people-behind-bg {
        padding: 2.9em 0 3.2em 0;
    }
    #exec-inner-left {
        padding: 1.5em 0 0 0;
    }
    #exec-inner-left p:nth-child(3){
        font-size: 0.99em;
    }

    #exec-title {
        font-size: 2.15em;
    }

    .hide-on-med {
        display: none;
    }
    #circ{
        position: relative;
        top: 0;
        width:25%;
        transform:translateY(-50%);
        height:auto;
        left:5%;
    }

    #circ-pic{
        position:initial;
        top: initial;
        transform:initial;
        width:100%;
    }

    #exec-desc{
        left: 5%;
        padding-left: 10px;
        margin-left: 0px;
    }
    #media-coverage-companies{
        padding-top: 1.5em;
        padding-bottom: 2.7em;
    }
    #media-title{
        font-size: 2.1em;
        line-height: 1.3em;
        padding-bottom: 0.5em;
    }

    .media-quotes{
        margin-top: -0.3em;
    }
    .media-quotes p {
        margin-top: 0.5em;
        margin-bottom: 1.05em;
    }

    #advisory-board{
        padding-top: 1.2em;
        padding-bottom: 1em;
    }
    #board-title{
        font-size: 1.85em;
        line-height: 1.2em;
        margin-bottom: 0;
    }
    .slick-members .board-name {
        padding: 0;
        font-size: 1.6em;
    }
    .slick-members .board-rank {
        font-size: 1.2em;
    }
    #last-quote-box {
        margin-top: 1.8em;
        padding-bottom: 3.5em;
    }
    #last-quote{
        font-size: 1.8em;
        line-height: 1.45em;
    }
}

@media all and (max-width:1023px){
    #media-coverage-floater{
        order: 2;
    }

    #media-coverage-companies{
        order: 1;
        margin-top: 2em;
        text-align: center !important;
    }

    #transparency-right{
        width: 100%;
    }

    #people-behind-bg {
        padding: 5em 0;
    }

    #media-album{
        margin: 0 auto;
        margin-top: 2.5em;
        max-width: 80%;
    }

    .media-img {
        display: inline-block;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 3em;
        max-width: 300px;
    }

}

@media all and (min-width:992px) and (max-width: 1023px){

    #media-coverage-companies{
        margin: 0 auto !important;
    }

    #media-coverage-companies>h2{
        text-align: center;
    }

    .exec-helper {
        height: 90%;
    }
    #exec-inner-left{
        padding: 1.7em 7% 0 3.7%;
    }
    #trans-quote-div{
        min-width: 70%;
    }

    #advisory-board{
        margin-top: 0;
    }

    .hide-on-lg{
        display: none !important;
    }
}

@media only screen and (min-width: 1024px) {
    .hide-on-lg{
        display: none !important;
    }

    #media-coverage-floater {
        position: relative;
        transform: translateY(-18%);
        padding: 7% 5% 5% 21%;
        width: 46%;
        max-width: 100%;
        flex: none;
    }


    #media-coverage-images {
        margin-left: 100px !important;
        margin-top: 100px !important;
    }

    #people-behind-bg {
        padding: 6.5em 0 9em 0
    }
    #exec-inner-left{
        min-width: 40%;
        padding: 1.7em 7% 0 3.7%;
    }
    .med-hide{
        display: none;
    }
    .exec-helper {
        height: 90%;
    }

    #media-coverage-companies {
        padding: 7% 7.5%;
    }

    #media-album{
        margin-top: 2.5em;
    }

    .media-img {
        display: inline-block;
        width: 30%;
        margin-bottom: 3em;
        max-width: 300px;
    }

    #trans-quote-div{
        min-width: 70%;
    }
}

@media all and (min-width:1200px){
    .med-hide{
        display: block;
    }
    #transparency {
        margin: 3.2em 0 0 20%
    }

    #transparency-left {
        padding: 9em 0.4em 14.5em 0;
        width: 37%;
    }
    #transparency-left p{
        margin-bottom: 1.6em;
    }
    #transparency-right {
        padding: 1em 0 0 1em;
        width: 63%;
    }
    #trans-quote-div{
        min-width: 0;
    }
    #people-behind-bg {
        padding: 6.5em 0 10.5em 0;
    }

    #exec-inner-left{
        min-width: 0;
        padding: 1.7em 7% 0 3.7%;
    }

    #exec-title {
        font-size: 2.1em;
    }

    .exec-helper {
        height: 90%;
    }

    #media-coverage-companies {
        padding: 7.8em 7.5em;
    }

    #advisory-board {
        padding-top: 1.5em;
    }

    #board-title {
        font-size: 1.9em;
    }

    #last-quote {
        font-size: 1.9em;
        transform: translate(12px,20px);
        padding-bottom: 1em;
    }

    body #fullscreen-hero {
        background-position: center top;
    }

    body #fullscreen-hero #hero-content {
        padding: 7.5em 0 8.9em 0;
    }

    body #fullscreen-hero #hero-content p.description {
        margin-top: 23px;
        line-height: 1.4em;
    }


}
@media only screen and (min-width: 1800px) {

    #media-coverage-floater {
        height: 900px;
        width: 870px;
        max-width: 100%;
        flex: none;
        transform: translateY(-20%);
        padding: 215px 55px 210px 455px;
    }

    #thirdfold-p1 {
        margin-bottom: 40px;
    }

    #media-coverage-images {
        margin-left: 100px !important;
        margin-top: 100px !important;
    }
    .media-img {
        width: 27%;
    }

    #media-title {
        font-size:34px;
    }
}

@media only screen and (max-width: 3351px) and (min-width: 2000px){
    body #fullscreen-hero #hero-content {
        padding: 160px 0px 143px 0px;
        max-width: 77.333333%;
    }
    body #fullscreen-hero #hero-content h1.title {
        font-size: 57px;
    }
    body #fullscreen-hero #hero-content p.description {
        font-size: 26px;
        line-height: 1.6em;
        margin-top: 33px;
    }
}
@media only screen and (min-width: 3352px) and (max-width: 5050px)  {
    /*.gradient-wrapper > div{*/
        /*max-width: 62%;*/
    /*}*/
    body #fullscreen-hero #hero-content {
        padding: 253px 0px;
        max-width: 100%
    }
    body #fullscreen-hero #hero-content h1.title {
        font-size: 85px;
    }
    body #fullscreen-hero #hero-content p.description {
        font-size: 45px;
        margin-top: 48px;
    }

}
@media only screen and (min-width: 5051px) {
    /*.gradient-wrapper > div {*/
        /*max-width: 62%;*/
    /*}*/
    .gradient-wrapper > div > section {
        max-width: 75%;
    }
    body #fullscreen-hero #hero-content {
        max-width: 100%;
    }
    body #fullscreen-hero #hero-content {
        padding: 27% 0px;
    }
    body #fullscreen-hero #hero-content h1.title {
        font-size: 173px;
    }
    body #fullscreen-hero #hero-content p.description {
        font-size: 90px;
        margin-top: 4%;
    }
}

@media only screen and (min-width: 7000px){
    .gradient-wrapper > div > section {
        max-width: 60%;
    }
}
