
body.ib-loading {
    overflow: hidden;
}
div.ib-loading-screen {
    /*position: fixed;*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*top: 0;*/
    background-color: #1e2654; /*rgb(111, 77, 165);*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000000;
    opacity: 1;
    -webkit-transition: background-color 0.4s ease-in-out 0s;
    -moz-transition: background-color 0.4s ease-in-out 0s;
    -ms-transition: background-color 0.4s ease-in-out 0s;
    -o-transition: background-color 0.4s ease-in-out 0s;
    transition: background-color 0.4s ease-in-out 0s;

}
.ib-loading-screen .ib-loading-inner {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: static;
}
.ib-loading-screen .ib-loading-outer {
    width: 100%;
    padding: 0;
    display: table !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.ib-loading-screen .ib-loading-middle {
    padding: 0;
    vertical-align: middle;
    display: table-cell !important;
    margin: 0;
    text-align: center;
}
.ib-loading-screen .ib-loading-logo-header {
    webkit-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -moz-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -ms-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -o-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}
.ib-loading-screen .ib-loading-logo-header img {
    display: inline-block !important;
}
.ib-loading-screen .ib-loading-html.ib-loaded {
    -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.ib-loading-screen.ib-loading .ib-loading-logo-header, .ib-loading-screen.ib-loading .ib-loading-html {
    opacity: 1;
}
.ib-loading-screen .ib-loading-html {
    margin-top: 90px;
}
.pg-loading-screen .pg-loading-html {
    width: 100%;
    opacity: 0;
}
.sk-spinner-chasing-dots.sk-spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    animation: sk-chasingDotsRotate 2s infinite linear;
}
.sk-spinner-chasing-dots .sk-dot1, .sk-spinner-chasing-dots .sk-dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #FFF;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out;
}
.sk-spinner-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-spinner-chasing-dots.sk-spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    animation: sk-chasingDotsRotate 2s infinite linear; }
.sk-spinner-chasing-dots .sk-dot1, .sk-spinner-chasing-dots .sk-dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #FFF;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
.sk-spinner-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
