
/* style */

section#hero-content {
    margin: 0 auto;
}
#security-page {
    font-family: 'Proxima Nova';
}

p {
    text-align: justify;
    font-size: 100%;
    word-spacing: 0.5px;
    line-height: 2;
}
section {
    /*padding-top: 1em;*/
    min-height: 300px;
    position: relative;
}
article {
    padding: 0;
}
.second-section {
    background-color: rgb(231,251,248);
}
.security-width {
    max-width: 1020px;
}
.security-section {
    display: none; /*default smaller devices*/
}
#infor-security {
    padding-bottom: 0;
}
.subtitle {
    display: block;
    padding-top: 0.5em;
}
#hero-content{
    width:60%;
}
body p {
    margin-top: 7px;
}
/*** Media Queries as per chrome dev tool ***/
@media (min-width: 1200px) {
    body #fullscreen-hero {
        background-position: center top;
    }
    body p {
        margin-top: 50px;
    }
    h1{
        margin-top: 23px;
        margin-bottom: 15px;
    }
    h1#subtitle_1 {
        margin-left: -22px;
        margin-top: 95px;
        font-size: 35px!important;
        word-spacing: -2px;
    }
    p.para1 {
        margin-left: -22px;
        margin-top: -38px;
        word-spacing: -1px;
    }
    p.para2 {
        margin-top: 4px;
        margin-left: -22px;
    }
    p.para3 {
        margin-top: 4px;
        margin-left: -22px;
    }
    h1#subtitle_2 {
        margin-left: 22px;
        margin-top: 95px;
        font-size: 35px!important;
        word-spacing: -2px;
    }
    p.para4 {
        padding: 4px;
        margin-right: -65px;
        margin-left: 20px;
        margin-top: 15px;
    }
    p.para5 {
        margin-top: 0px;
        margin-right: -65px;
        margin-left: 20px;
        word-spacing: 1px;
    }
    h1.subtitle.blackinf {
        margin-left: -22px;
        margin-top: -29px;
        font-size: 35px!important;
    }
    p.para6 {
        margin-left: -22px;
        margin-top: 0px;
    }
    h1#privacy {
        margin-left: -22px;
        font-size: 35px!important;
    }
    p.para7 {
        margin-left: -22px;
        margin-top: 30px;
    }
    body #fullscreen-hero #hero-content p.description {
        margin-bottom: 47px;
    }
    body .gradient-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 18px 0px;
        background: linear-gradient(to right, rgba(57,28,255, 0.6) , rgba(255,59,48,0.6));
    }
    section#technology {
        margin-top: 113px;
    }
}


@media all and (max-width: 767px) {
    body #fullscreen-hero {
        background-position: -120px;
    }
    h1.title {
        margin-bottom: 0.6em;
    }
    p.description {
        padding-top: 0.1em;
    }
    .security-width div {
        padding: 1.4em 0 0;
    }
    body p {
         margin: 0;
    }
    div#para_1, div#para_2 {
        padding-top: 0;
    }
    div#para_1 p,  div#para_2 p {
        padding-bottom: 1.79em;
    }
    #subtitle_2 {
        padding-top: 0!important;
    }
    #infor-security h1 {
        padding-top: 0.21em;
    }
    #infor-security p {
        padding: .8em 0;
    }
    #privacy {
        padding-top: 0.5em!important;
    }
    section{
        padding: 0 17px 0 17px;
    }
    #hero-content{
        width: 100%;
    }
    body #fullscreen-hero #hero-content p.description {
        margin-bottom: -40px;
        word-spacing: -1px;
        margin-top: 17px;
        line-height: 23pt;
    }
    body #fullscreen-hero #hero-content h1.title {
        font-size: 42px;
        font-weight: 600;
    }
    h1#subtitle_1 {
        margin-left: -4px;
    }
    p.para1 {
        margin-top: -3px;
        margin-left: -4px;
        word-spacing: 0px;
        line-height: 21pt;
    }
    p.para2 {
        margin-left: -3px;
        word-spacing: 2px;
        line-height: 21pt;
    }
    p.para3 {
        margin-left: -4px;
        word-spacing: 0px;
        line-height: 21pt;
    }
    h1#subtitle_2 {
        margin-left: -4px;
    }
    p.para4 {
        word-spacing: 0px;
        margin-left: -4px;
        line-height: 21pt;
    }
    p.para5 {
        word-spacing: 0px;
        margin-left: -4px;
        line-height: 21pt;
    }
    h1.subtitle.blackinf {
        margin-left: -5px;
        margin-top: 13px;
    }
    p.para6 {
        margin-top: -12px;
        margin-left: -3px;
        word-spacing: -1px;
        line-height: 21pt;
    }
    h1#privacy {
        margin-left: -4px;
    }
    p.para7 {
        margin-top: 10px;
        margin-left: -2px;
        line-height: 21pt;
        word-spacing: 0px;
    }
    .second-section{
        background-color: rgb(231,251,248);
        height: 650px;
        margin-top: -20px;
    }
    h1#security_title {
        margin-top: -35px;
    }
}

/* iPad specific */
@media only screen and (min-device-width: 1200px) and (max-device-width: 767px) {
    .security-section {
        display: block;
        position:absolute;
        height:120%;
        width:50%;
        top:-27%;
        right:0;
        background: url('../img/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
    #infor-security {
        padding-bottom: 0;
    }
    article {
        padding: 8px;
    }
    .first-section {
        position: relative;
        padding: 10% 0;
    }
    section {
        position: relative;
        padding: 4em 0;
    }
    body #fullscreen-hero #hero-content p.description{
        font-size: 34px;
    }
    body #fullscreen-hero #hero-content h1.title{
        font-size: 50px;
    }
}

/* Larger than iPad */
@media only screen and (min-width: 768px)  {
    .security-section {
        display: block;
        position:absolute;
        height: 130%;
        width: 49%;
        right: 2px;
        top: -32%;
        background: url('../img/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
    #infor-security {
        padding-bottom:200px;
    }
    .first-section {
        padding: 5em 0;
        margin: 0 auto;
    }
    .first-section article {
        margin-bottom: 30px;
    }
    section {
        padding: 4em 0;
    }
    #hero-content{
        width: 80%;
    }
    #para_1{
        margin-top:53px;
    }
    body #fullscreen-hero #hero-content h1.title{
        font-size: 40px;
        margin-top: -2px;
    }
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 22px;
        padding: -20px;
        border: 0px solid black;
        padding: 0em 5em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
    }
    body h1.black{
        font-size: 40px;
    }
}

