
/* style */

section#hero-content {
    margin: 0 auto;
}
#security-page {
    font-family: 'Proxima Nova';
}

p {
    text-align: justify;
    font-size: 100%;
    word-spacing: 0.5px;
    line-height: 2;
}
section {
    /*padding-top: 1em;*/
    min-height: 300px;
    position: relative;
}
article {
    padding: 0;
}
.second-section {
    background-color: rgb(231,251,248);
    padding-bottom: 170px;
}
.security-width {
    max-width: 1020px;
}
.security-section {
    display: none; /*default smaller devices*/
}
#infor-security {
    padding-bottom: 0;
}
.subtitle {
    display: block;
    padding-top: 0.5em;
}
body p {
    margin-top: 7px;
}

/*** Media Queries as per chrome dev tool ***/
@media (min-width: 1200px) {
    body #fullscreen-hero {
        background-position: center top;
    }
    body p {
        margin-top: 50px;
    }
    h1{
        margin-top: 23px;
        margin-bottom: 15px;
    }
    h1#subtitle_1 {
        margin-left: -22px;
        margin-top: 77px;
        font-size: 35px!important;
        word-spacing: -2px;
    }
    p.para1 {
        margin-left: -20px;
        word-spacing: -1px;
        margin-top: -34px;
        line-height: 22pt;
    }
    p.para2 {
        margin-top: 24px;
        margin-left: -20px;
        line-height: 21pt;
        word-spacing: 0px;
    }
    p.para3 {
        margin-top: 27px;
        margin-left: -20px;
        line-height: 21pt;
        word-spacing: 0px;
    }
    h1#subtitle_2 {
        margin-left: 23px;
        margin-top: 77px;
        font-size: 35px!important;
        word-spacing: -2px;
    }
    p.para4 {
        padding: 4px;
        margin-right: -65px;
        margin-left: 20px;
        margin-top: 2px;
        line-height: 21pt;
    }
    p.para5 {
        margin-top: 25px;
        margin-right: -68px;
        margin-left: 23px;
        word-spacing: 1px;
        line-height: 21pt;
    }
    h1.subtitle.blackinf {
        margin-left: -24px;
        margin-top: 3px;
        font-size: 35px!important;
        word-spacing: -5px;
    }
    p.para6 {
        margin-left: -20px;
        word-spacing: 0px;
        margin-top: 17px;
        line-height: 21pt;
    }
    h1#privacy {
        margin-left: -23px;
        font-size: 35px!important;
        margin-top: 42px;
    }
    p.para7 {
        margin-left: -20px;
        margin-top: 19px;
        line-height: 22pt;
        word-spacing: 3px;
    }
    body #fullscreen-hero #hero-content p.description {
        margin-bottom: 47px;
    }
    section#technology {
        margin-top: 90px;
    }
}

@media all and (max-width: 767px) {
    body #fullscreen-hero {
        background-position: -120px;
    }
    h1.title {
        margin-bottom: 0.6em;
    }
    p.description {
        padding-top: 0.1em;
    }
    .security-width div {
        padding: 1.4em 0 0;
    }
    body p {
         margin: 0;
    }
    div#para_1, div#para_2 {
        padding-top: 0;
    }
    div#para_1 p,  div#para_2 p {
        padding-bottom: 1.79em;
    }
    #subtitle_2 {
        padding-top: 0!important;
    }
    #infor-security h1 {
        padding-top: 0.21em;
    }
    #infor-security p {
        padding: .8em 0;
    }
    #privacy {
        padding-top: 0.5em!important;
    }
    section{
        padding: 0 17px 0 17px;
    }
    #hero-content{
        width: 100%;
    }
    body #fullscreen-hero #hero-content p.description {
        margin-bottom: -19px;
        margin-top: 31px;
        line-height: 23pt;
        margin-left: -2px;
        margin-right: 2px;
    }
    body #fullscreen-hero #hero-content h1.title {
        font-size: 42px;
        font-weight: 600;
        margin-left: -3px;
        margin-top: -43px;
    }
    h1#subtitle_1 {
        margin-left: -4px;
        margin-top: -2px;
    }
    p.para1 {
        margin-top: 0px!important;
        margin-left: -4px;
        word-spacing: 0px;
        line-height: 21pt;
    }
    p.para2 {
        margin-left: -3px;
        word-spacing: 2px;
        line-height: 21pt;
    }
    p.para3 {
        margin-left: -4px;
        word-spacing: 0px;
        line-height: 21pt;
    }
    h1#subtitle_2 {
        margin-left: -4px;
        margin-top: -3px;
    }
    p.para4 {
        word-spacing: 0px;
        margin-left: -4px!important;
        line-height: 21pt!important;
    }
    p.para5 {
        word-spacing: 0px;
        margin-left: -4px;
        line-height: 21pt;
    }
    h1.subtitle.blackinf {
        margin-left: -4px;
        margin-top: 3px;
        font-size: 34px;
    }
    p.para6 {
        margin-left: -3px;
        margin-top: -3px;
        word-spacing: -1px;
        line-height: 21pt;
    }
    h1#privacy {
        margin-left: -4px;
        margin-top: 6px;
    }
    p.para7 {
        margin-top: 6px;
        margin-left: -3px;
        line-height: 21pt;
        word-spacing: 0px;
    }
    .second-section{
        background-color: rgb(231,251,248);
        height: 601px;
        margin-top: 0px;
    }
    h1#security_title {
        margin-top: -35px;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 4px;
    }
}

/* 768px */
@media only screen and (min-width: 768px) and (max-width: 793px) {
    body #fullscreen-hero #hero-content p.description {
        width: 100%;
        font-size: 23px;
    }
    section#protection {
        margin-top: 5%;
    }
    p.para1 {
        margin-top: 47px;
    }
    section#technology {
        margin-top: 12%;
    }
    .second-section {
        background-color: rgb(231,251,248);
        padding-bottom: 50px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 108%;
        width: 52%;
        right: 2px;
        top: -10%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

/* 794px */
@media only screen and (width: 794px){
    body #fullscreen-hero #hero-content p.description {
        width: 100%;
        font-size: 23px;
    }
    section#protection {
        margin-top: 5%;
    }
    p.para1 {
        margin-top: 47px;
        font-size: 18px;
    }
    p.para2 {
        font-size: 18px;
    }
    p.para3 {
        font-size: 18px;
    }
    p.para4 {
        font-size: 18px;
    }
    p.para5 {
        font-size: 18px;
    }
    section#technology {
        margin-top: 11%;
    }
    p.para6 {
        font-size: 18px;
    }
    p.para7 {
        font-size: 18px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 100%;
        width: 52%;
        right: 2px;
        top: -10%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

/* 800px */
@media only screen and (min-width: 795px) and (max-width: 800px){
    body #fullscreen-hero #hero-content p.description {
        font-size: 23px;
        line-height: 1.4em;
        hyphens: manual;;
    }
    section#protection {
        margin-top: 5%;
    }
    section#technology {
        margin-top: 13%;
    }
    .second-section {
        padding-bottom: 48px;
    }
    p.para1 {
        margin-top: 47px;
    }
    .second-section {
        padding-bottom: 55px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 108%;
        width: 52%;
        right: 2px;
        top: -10%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

/* 801px-918px */
@media only screen and (min-width: 801px) and (max-width:918px){
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 23px;
        border: 0px solid black;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    section#protection {
    margin-top: 32px;
    margin-left: 41px;
    margin-right: 38px;
    }
section#technology {
    margin-top: 9%;
    }
    p.para1 {
    margin-top: 46px;
    }
    .second-section {
    padding-bottom: 170px;
    padding-left: 40px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 108%;
        width: 52%;
        right: 2px;
        top: -10%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

/* 919px-997px */
@media only screen and (min-width: 919px) and (max-width: 997px){
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 23px;
        border: 0px solid black;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    section#protection {
        margin-top: 32px;
        margin-left: 41px;
        margin-right: 38px;
    }
    p.para1 {
        margin-top: 46px;
    }
    section#technology {
        margin-top: 9%;
    }
    .second-section {
        padding-bottom: 170px;
        padding-left: 40px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 120%;
        width: 52%;
        right: 2px;
        top: -16%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

/* 998px-1037px */
@media only screen and (min-width: 998px) and (max-width:1024px){
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 23px;
        padding: -20px;
        border: 0px solid black;
        padding: 0em 5em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 55px;
        margin-right: auto;
        margin-left: auto;
    }
    section#protection {
        margin-top: 32px;
        margin-left: 28px;
        margin-right: 38px;
    }
    p.para1 {
        margin-top: 44px;
    }
    section#technology {
        margin-top: 9%;
    }
    .second-section {
        padding-bottom: 170px;
        padding-left: 40px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 136%;
        width: 49%;
        right: 2px;
        top: -19%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

/* 1025px-1037px */
@media only screen and (min-width: 1025px) and (max-width:1037px){
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 23px;
        padding: -20px;
        border: 0px solid black;
        padding: 0em 5em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 55px;
        margin-right: auto;
        margin-left: auto;
    }
    section#protection {
        margin-top: 32px;
        margin-left: 28px;
        margin-right: 38px;
    }
    p.para1 {
        margin-top: 7px;
    }
    section#technology {
        margin-top: 9%;
    }
    .second-section {
        padding-bottom: 170px;
        padding-left: 40px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 130%;
        width: 52%;
        right: 2px;
        top: -19%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

/* 1038px-1199px */
@media only screen and (min-width: 1038px) and (max-width: 1199px){
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 23px;
        padding: -20px;
        border: 0px solid black;
        padding: 0em 5em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 55px;
        margin-right: auto;
        margin-left: auto;
    }
    section#protection {
        margin-top: 32px;
        margin-left: 41px;
        margin-right: 38px;
    }
    p.para1 {
        margin-top: 6px;
    }
    section#technology {
        margin-top: 9%;
    }
    .second-section {
        padding-bottom: 170px;
        padding-left: 40px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 134%;
        width: 52%;
        right: 2px;
        top: -22%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

/* 1200px-1278px */
@media only screen and (min-width: 1200px) and (max-width: 1278px){
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 25px;
        padding: -20px;
        border: 0px solid black;
        padding: 0em 5em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 55px;
        margin-right: auto;
        margin-left: auto;
    }
    section#protection {
        margin-top: 32px;
        margin-left: 71px;
        margin-right: 102px;
    }
    p.para1 {
        margin-top: 18px;
    }
    section#technology {
        margin-top: 9%;
    }
    .second-section {
        padding-bottom: 170px;
        padding-left: 71px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 135%;
        width: 52%;
        right: 2px;
        top: -26%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}
 
/* 1279px */
@media only screen and (width: 1279px){
     body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 27px;
        padding: -20px;
        border: 0px solid black;
        padding: 0em 5em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 55px;
        margin-right: auto;
        margin-left: auto;
    }
    section#protection {
        margin-top: 32px;
        margin-left: 71px;
        margin-right: 102px;
    }
    p.para1 {
        margin-top: 3px;
    }
    p.para4 {
        padding: 4px;
        margin-right: -65px;
        margin-left: 20px;
        margin-top: -4px;
        line-height: 21pt;
}
    section#protection {
        margin: -2%!important;
    }
    section#technology {
        margin-top: 12%;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 142%;
        width: 48%;
        right: 2px;
        top: -23%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}



/* 1280px */
@media only screen and (width: 1280px){
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 27px;
        padding: -20px;
        border: 0px solid black;
        padding: 0em 5em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    body .container-fluid > .row, body .container > .row {
        max-width: 999px;
        margin: 0 auto;
    }
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 55px;
        margin-right: auto;
        margin-left: auto;
    }
    section#protection {
        margin-top: 32px;
        margin-left: 71px;
        margin-right: 102px;
    }
    p.para1 {
        margin-top: 3px;
    }
    p.para4 {
        padding: 4px;
        margin-right: -65px;
        margin-left: 20px;
        margin-top: -3px!important;
        line-height: 21pt;
    }
    section#protection {
        margin: -2%!important;
    }
    section#technology {
        margin-top: 17%;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 141%;
        width: 49%;
        right: 2px;
        top: -31%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
}

    /* Larger than iPad */
@media only screen and (min-width: 1281px) and (max-width: 3839px) {
    body .gradient-wrapper {
        padding-bottom: 14px;
    }
    .security-section {
        display: block;
        position:absolute;
        height: 129%;
        width: 49%;
        right: 5px;
        top: -27%;
        background: url('../img/security/security-section.png'), no-repeat, center center;
        background-size: cover;
    }
    #infor-security {
        padding-bottom:200px;
    }
    .first-section {
        padding: 5em 0;
        margin: 0 auto;
    }
    .first-section article {
        margin-bottom: 30px;
    }
    section {
        padding: 4em 0;
    }
    #hero-content{
        width: 80%;
    }
    #para_1{
        margin-top:53px;
    }
    body #fullscreen-hero #hero-content h1.title{
        font-size: 40px;
        margin-top: 0px;
        margin-left: -1px;
    }
    body #fullscreen-hero #hero-content p.description{
        width: 100%;
        font-size: 23px;
        padding: -20px;
        border: 0px solid black;
        padding: 0em 5em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 7px;
    }
    body h1.black{
        font-size: 40px;
    }
    section#protection {
        margin: 1%;
    }
}


@media only screen and (min-width: 2560px) and (max-width: 3351px) {
    .gradient-wrapper > div {
        max-width: 62%;
    }
    body #fullscreen-hero #hero-content {
        max-width: 100%
    }
    body .container-fluid > .row, body .container > .row {
        max-width: 1550px;
        margin: 0 auto;
    }
    section#protection {
        margin: -2%;
    }
    section#technology {
        margin-top: 9%;
    }
    body #fullscreen-hero #hero-content h1.title {
        font-size: 54px;
    }
    body #fullscreen-hero #hero-content p.description {
        font-size: 23px;
        margin-top: 48px;
        width: 100%;
        border: 0px solid black;
        margin-bottom: 0.25em;
    }
    h1#subtitle_1 {
        margin-left: -22px;
        margin-top: 103px;
        font-size: 45px!important;
        word-spacing: -2px;
    }
    p.para1 {
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 26px;
        line-height: 32px;
    }
    p.para2 {
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 26px;
        line-height: 32px;
    }
    p.para3 {
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 26px;
        line-height: 32px;
    }
    h1#subtitle_2{
        margin-left: 45px;
        margin-top: 103px;
        font-size: 45px!important;
        word-spacing: -2px;
    }
    p.para4 {
        margin-top: 0px;
        margin-left: 45px;
        word-spacing: -3px;
        font-size: 26px;
        line-height: 32px;
    }
    p.para5 {
        margin-left: 45px;
        word-spacing: -3px;
        font-size: 26px;
        line-height: 32px;
    }
    h1.subtitle.blackinf{
        margin-left: -22px;
        margin-top: 103px;
        font-size: 45px!important;
        word-spacing: -2px;
    }
    p.para6 {
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 26px;
        line-height: 32px;
    }
    h1#privacy{
        margin-left: -22px;
        margin-top: 103px;
        font-size: 45px!important;
        word-spacing: -2px;
    }
    p.para7 {
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 26px;
        line-height: 32px;
    }
    .security-section {
        display: block;
        position: absolute;
        height: 124%;
        width: 49%;
        right: 2px;
        top: -29%;
        background: url(../img/security/security-section.png), no-repeat, center center;
        background-size: cover;
    }
}


@media only screen and (min-width: 3352px) and (max-width: 5050px) {
    .gradient-wrapper > div {
        max-width: 62%;
    }
    body #fullscreen-hero #hero-content {
        max-width: 100%
    }
    body .container-fluid > .row, body .container > .row {
        max-width: 2500px;
        margin: 0 auto;
    }
    section#protection {
        margin: 5%;
    }
    section#technology {
        margin-top: 10%;
    }
    .second-section {
        background-color: rgb(231, 251, 248);
        padding-bottom: 5%;
    }
    body #fullscreen-hero #hero-content h1.title {
        font-size: 85px;
    }
    body #fullscreen-hero #hero-content p.description {
        font-size: 38px;
        margin-top: 48px;
        width: 100%;
        border: 0px solid black;
        margin-bottom: 0.25em;
    }
    #hero-content {
        width: auto;
    }
    h1#subtitle_1 {
        margin-left: -22px;
        margin-top: 103px;
        font-size: 60px!important;
        word-spacing: -2px;
    }
    p.para1 {
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 42px;
        line-height: 45px;
        margin-top: 50px;
    }
    p.para2{
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 42px;
        line-height: 45px;
        margin-top: 50px;
    }
    p.para3{
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 42px;
        line-height: 45px;
        margin-top: 50px;
    }
    h1#subtitle_2{
        margin-left: 45px;
        margin-top: 103px;
        font-size: 60px!important;
        word-spacing: -2px;
    }
    p.para4{
        margin-left: 45px;
        word-spacing: -3px;
        font-size: 42px;
        line-height: 45px;
        margin-top: 50px;
    }
    p.para5{
        margin-left: 45px;
        word-spacing: -3px;
        font-size: 42px;
        line-height: 45px;
        margin-top: 50px;
    }
    h1.subtitle.blackinf{
        margin-left: -22px;
        margin-top: 103px;
        font-size: 60px!important;
        word-spacing: -2px;
    }
    p.para6 {
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 42px;
        line-height: 45px;
        margin-top: 50px;
    }
    h1#privacy{
        margin-left: -22px;
        margin-top: 103px;
        font-size: 60px!important;
        word-spacing: -2px;
    }
    p.para7 {
        margin-left: -22px;
        word-spacing: -3px;
        font-size: 42px;
        line-height: 45px;
        margin-top: 50px;
    }
    .security-section {
        display: block;
        position: absolute;
        height: 131%;
        width: 49%;
        right: 2px;
        top: -29%;
        background: url(../img/security/security-section.png), no-repeat, center center;
        background-size: cover;
    }
}

@media only screen and (min-width: 5051px) {
    .gradient-wrapper > div {
        max-width: 62%;
    }
    .gradient-wrapper > div > section {
        max-width: 2333px;
    }
    body .container-fluid > .row, body .container > .row {
        max-width: 4465px;
        margin: 0 auto;
    }
    section#protection {
        margin: 5%;
    }
    section#technology {
        margin-top: 12%;
    }
    .second-section {
        background-color: rgb(231, 251, 248);
        padding-bottom: 5%;
    }
    body #fullscreen-hero #hero-content {
        max-width: 100%;
    }
    body #fullscreen-hero #hero-content {
        padding: 20% 0px;
    }
    body #fullscreen-hero #hero-content h1.title {
        font-size: 173px;
    }
    body #fullscreen-hero #hero-content p.description {
        font-size: 77px;
        margin-top: 4%;
    }
    h1#subtitle_1 {
        margin-left: -22px;
        margin-top: 103px;
        font-size: 115px!important;
        word-spacing: -2px;
    }
    p.para1 {
        margin-left: -22px;
        margin-top: 65px;
        word-spacing: -1px;
        font-size: 86px;
        line-height: 76pt;
    }
    p.para2 {
        margin-left: -22px;
        margin-top: 80px;
        word-spacing: -1px;
        font-size: 86px;
        line-height: 76pt;
    }
    p.para3 {
        margin-left: -22px;
        margin-top: 80px;
        word-spacing: -1px;
        font-size: 86px;
        line-height: 76pt;
    }
    h1#subtitle_2 {
        margin-left: 125px;
        margin-top: 103px;
        font-size: 115px!important;
        word-spacing: -2px;
    }
    p.para4 {
        margin-left: 125px;
        margin-top: 65px;
        margin-right: -200px;
        word-spacing: -1px;
        font-size: 86px;
        line-height: 76pt;
        
    }
    p.para5 {
        margin-left: 125px;
        margin-top: 80px;
        margin-right: -200px;
        word-spacing: -1px;
        font-size: 86px;
        line-height: 76pt;
    }
    h1.subtitle.blackinf {
        margin-left: -22px;
        margin-top: 103px;
        font-size: 115px!important;
        word-spacing: -2px;
    }
    p.para6 {
        margin-left: -22px;
        margin-top: 80px;
        word-spacing: -1px;
        font-size: 86px;
        line-height: 76pt;
    }
    h1#privacy{
        margin-left: -22px;
        margin-top: 103px;
        font-size: 115px!important;
        word-spacing: -2px;
    }
    p.para7 {
        margin-left: -22px;
        margin-top: 80px;
        word-spacing: -1px;
        font-size: 86px;
        line-height: 76pt;
    }
    .security-section {
        display: block;
        position: absolute;
        height: 140%;
        width: 49%;
        right: 2px;
        top: -37%;
        background: url(../img/security/security-section.png), no-repeat, center center;
        background-size: cover;
    }
}

