* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    font-family: "Proxima Nova";
}

#fullscreen-hero {
    background-position-x: 0 !important;
}

.overflow-remover{
    overflow: hidden;
}

.core {
    background-color: rgb(48,217,196);
    color: white;
    font-size: 15px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 3.3;
}

.core-div{
    margin-top: 10px;
    display: flex;
}

.core-text {
    color: rgb(39,112,246);
    margin-top: 24px;
    margin-bottom: 50px;
}

div.core-right{
    margin-top: -11px;
}

#fourth-core{
    padding-right: 76px !important;
}

.block {
    background-color: rgb(242,241,241);
    z-index: 999;

}

h2.first-fold-title{
    font-size: 34px !important;
    margin-top: 51px;
    line-height: 1.33;
}

p.first-fold-p{
    margin-top: 4px;
    margin-bottom: 30px;
}

h2.blocktext
{
    padding-top: 71px;
    font-size: 35px;
    line-height: 1.28;
}

p.blocktext-p1{
    margin-top: 18px !important;
    margin-left: 4px;
}

p.blocktext-p2{
    margin-top: 26px;
    margin-left: 5px;
}

h2.blocktext-2{
    padding-top: 27px;
}



.blocktext-background{
    background-image: url(../img/s1.png);
    height: 765px;
    width:100%;
    /*zoom: 0.6;*/
    zoom: 0.49;
    background-repeat:no-repeat;
    background-position-x: -60px;
}

@media only screen and (max-width: 992px){

    #our-vision {
        display: grid;
        grid-template-rows: auto auto auto;
    }
    #our-vision > div:first-child {
        grid-row: 1 / span 2;
        /*z-index: 9999999;*/
    }

    #our-vision > div:last-child {
        position: relative;
        top: -178px;
        grid-row: 3 / span 1;
        margin: 0 16px -160px;
        padding: 0 18px 0 18px;

    }
}


@media only screen and (min-width: 768px){
    .blocktext-background{
        zoom: 0.7;
    }

    h2.blocktext {
        padding-top: 10%;
    }

    p.blocktext {
        margin-top: 5%;
    }

    #fullscreen-hero {
        background-position-x: center !important;
    }

}

/* 1024 px */

@media only screen and (min-width: 1024px){
    .spacer{
        margin-bottom: 10%;
    }

    .remover{
        margin-left: 0;
        margin-right: 0;
    }

    div.core-left{
        margin-left: 65px;
    }

    .core-text {
        margin-bottom: 40%;
        line-height: 1.8;
    }

    .blocktext-background{
        zoom: 0.8;
        height: 754px;
    }

    .blocktext-background2{
        width: 500px;
        height: 450px;
        margin-left: 140px;
    }

    h2.blocktext
    {
        padding: 5% 5% 3% 5%;
        margin-right:20%;
    }

    p.blocktext
    {
        margin-top: 0;
        margin-left: 5%;
        margin-right: 21%;
        line-height: 1.8;

    }

    .block{
         right: 0;
         width: 53%;
         margin-right: 0 !important;
         padding: 3% 5% 4% !important;
         position: absolute;
         top: 125px;
     }
}

/* 1200 px */

@media only screen and (min-width: 1200px){

    h2.first-fold-title{
        margin-top: 110px !important;
        margin-bottom: 55px !important;
    }

    p.first-fold-p{
        margin-bottom: 65px;
    }

    div.core-right{
        padding-left: 80px;
        margin-left: 44px;
    }

    div.core-left{
        padding-right: 60px;
        margin-right: 45px;
        margin-left: 0;
    }

    .blocktext-background{
        zoom: 1;
    }

    .blocktext-background2{
        width: 915px;
        height: 650px;
        margin-bottom: 70px;
    }

    .block {
        padding-bottom: 200px !important;
    }

    .blocktext-p1 {
        padding-right: 65px;
        margin-bottom: 50px;
        padding-top: 28px;
    }

    .blocktext-p2 {
        padding-right: 55px;
    }

}

@media only screen and (min-width: 1920px){

    .block{
        width: 1093px;
        padding: 72px 148px 160px 108px !important;
    }

    p.blocktext {
        margin-right: 22%;

    }
}
